html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #87bdd8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

header {
    background-color: #5C5E76;
    color: #DFE1F2;
    text-align: center;
}

header h1 {
    border-bottom: 5px solid #DFE1F2;
    border-top: 5px solid #DFE1F2;
    border-radius: 20px;
    margin-left: 35%;
    margin-right: 35%;
}

.grid-container {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    align-items: center;
    border: 5px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
    justify-content: center;
}

.cell {
    background-color: #b7d7e8;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
}

.size-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 10px;
}

.reset-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.color-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 10px;
}

button {
    width: 75px;
    height: 75px;
    background-color: #667292;
    color: #cfe0e8;
    border: 2px solid black;
    border-radius: 16px;
}

button:hover {
    opacity: .7;
    color: black;
    cursor: pointer;
}

button.red {
    background-color: #E17F7F;
}

button.blue {
    background-color: #7593CE;
}

button.green {
    background-color: #63BF97;
}

button.rainbow {
    background-color: #9400D3;
}
